<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BomeansPCTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BomeansPCTool.Properties.Settings>
            <setting name="API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="USE_CHINA_SERVER" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UART_COM_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="UART_BAUD_RATE" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="ALWAYS_PULL_DATA_FROM_CLOUD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="M_SELECTED_CATEGORY_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="M_SELECTED_BRAND_ID" serializeAs="String">
                <value>1</value>
            </setting>
        </BomeansPCTool.Properties.Settings>
    </userSettings>
</configuration>